/* src/styles/auth.module.css */

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--fronst-blue);
}

.card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: white;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.link {
  text-align: center;
  margin-top: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: color 0.2s;
}

.link:hover {
  color: var(--secondary-color);
}