/* src/styles/theme.css */

:root {
  --primary-color: #1976d2;
  --secondary-color: #f50057;
  --background: #f5f5f5;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  --alice-blue: #F0F8FF;
  --fronst-blue: #DCEEF2;
}